{% extends 'innogrApp/base.html' %}

{% load static %}


{% block pagebody %}

<div class="page-header">
  <h3 class="page-title">
    My Devices
  </h3>
</div>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Digital Temperature Sensor</h4>
        <p class="card-description">Temperature & Humidity Measurement</p>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home-1" role="tab"
              aria-controls="home-1" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-1" role="tab"
              aria-controls="profile-1" aria-selected="false">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-1" role="tab"
              aria-controls="contact-1" aria-selected="false">Help</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="home-1" role="tabpanel" aria-labelledby="home-tab">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Temperature & Humidity Variations</h4>
                <div id="TM-line-chart"></div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
            <img class="mr-3 w-25 rounded" src="{% static 'innogrApp/images/sensors/dhtsensor.jpg' %}" alt="sample image">
            <br />
            <br />

            <div class="media">
              <div class="media-body">
                <h4 class="mt-0">Description</h4>
                <p>This is a very popular, ultra low cost DHT11 digital temperature and humidity sensor. It uses a capacitive humidity sensor, and a thermistor to measure the surrounding air temperature. The result is available via a digital signal on the data pin (no analog input pins needed).</p>
                <p>
                  The DHT sensors are made of two parts, a capacitive humidity sensor and a thermistor. There
                  is also a very basic chip inside that does some analog to digital conversion and spits out a
                  digital signal with the temperature and humidity. The digital signal is fairly easy to read
                  using any microcontroller.
                </p>
                <b>Features</b>
                <ul>
                  <li>Can detect surrounding environment of the humidity and temperature</li>
                  <li>DHT11 sensor adopts
                  <li>Humidity measurement range: 20% ~90%</li>
                  <li>Humidity measurement error: ±5%</li>
                  <li>Temperature measurement range: 0 Degrees Celsius~60 Degrees Celsius</li>
                  <li>Temperature measurement error: ±2 Degrees Celsius</li>
                  <li>Operating voltage:DC5 V
                  <li>Output form:digital</li>
                  <li>Has fixed bolt hole and easy installation</li>
                  <li>PCB Dimension: 28 mm * 12 mm*10mm</li>
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact-1" role="tabpanel" aria-labelledby="contact-tab">
            <h4>Contact us </h4>
            <p>
              Feel free to contact us if you have any questions!
            </p>
            <p>
              <i class="fa fa-phone text-info"></i>
              +256 787250196
            </p>
            <p>
              <i class="far fa-envelope-open text-success"></i>
              pkasemer@gmail.com
            </p>
            <div class="card">
              <div class="card-body">
                <div class="mt-4">
                  <div class="accordion accordion-bordered" id="accordion-2" role="tablist">
                    <div class="card">
                        <h6 class="mb-0">
                            HOW THE DHT11 MEASURES HUMIDITY AND TEMPERATURE?
                        </h6>
                        <br />
                        <br />
                        <div class="card-body">
                          The DHT11 detects water vapor by measuring the electrical resistance between two electrodes. The humidity sensing component is a moisture holding substrate with electrodes applied to the surface. When water vapor is absorbed by the substrate, ions are released by the substrate which increases the conductivity between the electrodes. The change in resistance between the two electrodes is proportional to the relative humidity. Higher relative humidity decreases the resistance between the electrodes, while lower relative humidity increases the resistance between the electrodes.
                        </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Digital Humidity Sensor</h4>
        <p class="card-description">Humidity Level Measurement</p>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" id="hum-tab" data-toggle="tab" href="#home-5" role="tab"
              aria-controls="home-5" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-5" role="tab"
              aria-controls="profile-5" aria-selected="false">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-5" role="tab"
              aria-controls="contact-5" aria-selected="false">Help</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="home-5" role="tabpanel" aria-labelledby="home-tab">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">A Chat Showing Humidity Level Variations</h4>
                <div id="HUM-line-chart"></div>

              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile-5" role="tabpanel" aria-labelledby="profile-tab">
            <img class="mr-3 w-25 rounded" src="{% static 'innogrApp/images/sensors/dhtsensor.jpg' %}" alt="sample image">
            <br />
            <br />
            <div class="media">
              <div class="media-body">
                <h4 class="mt-0">Description</h4>
                <p>This is a very popular, ultra low cost DHT11 digital temperature and humidity sensor. It uses a capacitive humidity sensor, and a thermistor to measure the surrounding air temperature. The result is available via a digital signal on the data pin (no analog input pins needed).</p>
                <p>
                  The DHT sensors are made of two parts, a capacitive humidity sensor and a thermistor. There
                  is also a very basic chip inside that does some analog to digital conversion and spits out a
                  digital signal with the temperature and humidity. The digital signal is fairly easy to read
                  using any microcontroller.
                </p>
                <b>Features</b>
                <ul>
                  <li>Can detect surrounding environment of the humidity and temperature</li>
                  <li>DHT11 sensor adopts
                  <li>Humidity measurement range: 20% ~90%</li>
                  <li>Humidity measurement error: ±5%</li>
                  <li>Temperature measurement range: 0 Degrees Celsius~60 Degrees Celsius</li>
                  <li>Temperature measurement error: ±2 Degrees Celsius</li>
                  <li>Operating voltage:DC5 V
                  <li>Output form:digital</li>
                  <li>Has fixed bolt hole and easy installation</li>
                  <li>PCB Dimension: 28 mm * 12 mm*10mm</li>
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact-5" role="tabpanel" aria-labelledby="contact-tab">
            <h4>Contact us </h4>
            <p>
              Feel free to contact us if you have any questions!
            </p>
            <p>
              <i class="fa fa-phone text-info"></i>
              +256 787250196
            </p>
            <p>
              <i class="far fa-envelope-open text-success"></i>
              pkasemer@gmail.com
            </p>
            <div class="card">
              <div class="card-body">
                <div class="mt-4">
                  <div class="accordion accordion-bordered" id="accordion-2" role="tablist">
                    <div class="card">
                        <h6 class="mb-0">
                            HOW THE DHT11 MEASURES HUMIDITY AND TEMPERATURE?
                        </h6>
                        <br />
                        <br />
                        <div class="card-body">
                          The DHT11 detects water vapor by measuring the electrical resistance between two electrodes. The humidity sensing component is a moisture holding substrate with electrodes applied to the surface. When water vapor is absorbed by the substrate, ions are released by the substrate which increases the conductivity between the electrodes. The change in resistance between the two electrodes is proportional to the relative humidity. Higher relative humidity decreases the resistance between the electrodes, while lower relative humidity increases the resistance between the electrodes.
                        </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Water Level Sensor Module</h4>
        <p class="card-description">Water Level Measurement</p>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home-2" role="tab"
              aria-controls="home-2" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-2" role="tab"
              aria-controls="profile-2" aria-selected="false">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-2" role="tab"
              aria-controls="contact-2" aria-selected="false">Help</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="home-2" role="tabpanel" aria-labelledby="home-tab">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">A Chat Show Past and Current Week Water Level Variations</h4>

                <div id="watelevel-line-chart"></div>

              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile-2" role="tabpanel" aria-labelledby="profile-tab">
            <div class="media">
              <img class="mr-3 w-25 rounded" src="{% static 'innogrApp/images/sensors/watersensor.jpg' %}" alt="sample image">
              <div class="media-body">
                <h4 class="mt-0">Water Sensor</h4>
                <p>
                  This is simple and small portable water level/water droplet identification, a series of exposed parallel wires traces droplets/water and converts into analog signal. this sensor have low power consumption and high sensitivity.


                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact-2" role="tabpanel" aria-labelledby="contact-tab">
            <h4>Contact us </h4>
            <p>
              Feel free to contact us if you have any questions!
            </p>
            <p>
              <i class="fa fa-phone text-info"></i>
              +256 787250196
            </p>
            <p>
              <i class="far fa-envelope-open text-success"></i>
              pkasemer@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Soil Moisture Levels</h4>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home-4" role="tab"
              aria-controls="home-4" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-4" role="tab"
              aria-controls="profile-4" aria-selected="false">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-4" role="tab"
              aria-controls="contact-4" aria-selected="false">Help</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="home-4" role="tabpanel" aria-labelledby="home-tab">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">A bar Chart Comparing Last Week and This Week's Soil Moisture Data</h4>
                <div id="c3-line-chart"></div>

              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile-4" role="tabpanel" aria-labelledby="profile-tab">
            <div class="media">
              <img class="mr-3 w-25 rounded" src="{% static 'innogrApp/images/faces/face12.jpg' %}" alt="sample image">
              <div class="media-body">
                <h4 class="mt-0">Water Sensor</h4>
                <p>
                  Fail most room even gone her end like. Comparison dissimilar unpleasant six compliment two
                  unpleasing
                  any add. Ashamed my company thought wishing colonel it prevent he in. Pretended residence
                  are something
                  far engrossed old off. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                  assumenda ipsa quod optio molestias consequatur quibusdam, ratione tenetur commodi dicta,
                  sapiente magni corrupti deleniti accusantium minima, fuga ipsam a alias?
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact-4" role="tabpanel" aria-labelledby="contact-tab">
            <h4>Contact us </h4>
            <p>
              Feel free to contact us if you have any questions!
            </p>
            <p>
              <i class="fa fa-phone text-info"></i>
              +256 787250196
            </p>
            <p>
              <i class="far fa-envelope-open text-success"></i>
              pkasemer@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Light Sensor</h4>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home-3" role="tab"
              aria-controls="home-3" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-3" role="tab"
              aria-controls="profile-3" aria-selected="false">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-3" role="tab"
              aria-controls="contact-3" aria-selected="false">Help</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="home-3" role="tabpanel" aria-labelledby="home-tab">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">A Line Chart Showing Light Sensor Data</h4>

                <div id="c3-spline-chart"></div>

              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile-3" role="tabpanel" aria-labelledby="profile-tab">
            <div class="media">
              <img class="mr-3 w-25 rounded" src="{% static 'innogrApp/images/faces/face12.jpg' %}" alt="sample image">
              <div class="media-body">
                <h4 class="mt-0">DHT Module</h4>
                <p>
                  Fail most room even gone her end like. Comparison dissimilar unpleasant six compliment two
                  unpleasing
                  any add. Ashamed my company thought wishing colonel it prevent he in. Pretended residence
                  are something
                  far engrossed old off. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
                  nulla eveniet repellat et a odit eos iusto deleniti blanditiis reprehenderit eius expedita
                  aliquam sed incidunt illo asperiores, neque distinctio quo.
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact-3" role="tabpanel" aria-labelledby="contact-tab">
            <h4>Contact us </h4>
            <p>
              Feel free to contact us if you have any questions!
            </p>
            <p>
              <i class="fa fa-phone text-info"></i>
              +256 787250196
            </p>
            <p>
              <i class="far fa-envelope-open text-success"></i>
              pkasemer@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


{% endblock pagebody %}