{% extends 'innogrApp/base.html' %}

{% load static %}


{% block pagebody %}
<div class="row">

  <div class="col-md-5 grid-margin grid-margin-md-0 ">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h4 class="card-title">👨‍🌾 Latests WhatsApp Posts </h4>
          <i class="fas fa-ellipsis-v"></i>
        </div>
        <p class="card-description  border-bottom">Public Requests Posted On WhatsApp</p>
        <div class="overflow">
          <div id="postrefresh">
            {% for news in whatsappposts %}
            <div class="list d-flex align-items-center border-bottom py-3">
              <img class="img-sm rounded-circle" src="{% static 'innogrApp/images/questions.png' %}" alt="">
              <div class="wrapper w-100 ml-3">
                <p class="mb-0"><b>{{ news.title}} </b></p>
                <br />
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="far fa-clock text-muted mr-1"></i>
                    <p class="mb-0">{{ news.date_posted|timesince}}</p>
                  </div>
                  <small class="text-muted ml-auto">{{news.phone}}</small>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="col-md-2 grid-margin grid-margin-md-0 ">


        <div class="overflow">
          <div class="fc-external-events">

            {% for news in allnews_list %}
            <div class='fc-event'>
              <p> {{ news.title}} <a href=" {{ news.link}}" target="_blank">more</a></p>
              <p class="small-text"></p>
              <p class="text-muted mb-0"> {{ news.newsdate}}</p>
            </div>
            {% endfor %}
          </div>
        </div>

     
    

  </div>

  <div class="col-md-5 grid-margin grid-margin-md-0">

    <div class="widget">

      <div class="left-panel panel">
        <div class="date">
          {{weather.0.date_recieved|date:"l M,d Y"}}
        </div>
        <div class="city">
          {{weather.0.district}}
        </div>
        <div class="temp">
          {{weather.0.temp}}&deg;
        </div>
      </div>
      <div class="right-panel panel">
        <img src="https://s5.postimg.cc/lifnombwz/mumbai1.png" alt="" width="160">
      </div>

    </div>

    <div class="articles">
      {% for post in posts %}
  
      <div class="card rounded mb-2">
        <div class="card-body p-3">
          <div class="media">
            <img src="{{ post.author.profile.image.url }}" alt="image" class="img-pk mr-3 mb-3 rounded-circle">
            <div class="media-body">
              <h6 class="mb-1"><a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a></h6>
              <p>{{post.date_posted|date:"F d, Y"}}: {{post.date_posted|timesince}} ago</p>
  
            </div>
          </div>
          <a class="d-block h5 mb-1" href="{% url 'post-detail' post.id %}">{{post.title}}</a>
  
          <p class="mb-0 text-muted">
            {{post.summary|safe}}
          </p>
          <div class="post-button">
            <p class="small text-muted mt-2 mb-0">
              <span class="">
                <i onClick="document.getElementById('likebutton').submit()" class="fa fa-heart mr-1"></i>{{post.likes}}
              </span>
              <span class="ml-2 ">
                <i onClick="document.getElementById('dislikebutton').submit()"
                  class="fa fa-thumbs-down mr-1"></i>{{post.dislikes}}
              </span>
              <span class="ml-2 postmore">
                <a href="{% url 'post-detail' post.id %}" class="fa fa-ellipsis-h"></a>
              </span>
            </p>
          </div>
  
  
        </div>
  
      </div>
  
      {% endfor %}
  
  
    </div>

   

  



  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12 h-100">
  


    {% if is_paginated %}
    <nav>
      <ul class="pagination separated pagination-danger">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>

        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}

        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% endif %}

      </ul>
    </nav>
    {% endif %}



  </div>


</div> -->

<script>
  setInterval(
    // Here is where to do things like dom manipulation
    function updateDiv() {
      $("#postrefresh").load(window.location.href + " #postrefresh");
    },

    // Here is where you set the interval asuming I want to update every 1 second
    2000
  );
</script>


{% endblock pagebody %}