{% extends 'homepage/base.html' %}

{% load static %}

{% block doc%}active{% endblock doc%}

{% block homebody %}
<div class="page-header">
    <h3 class="page-title">
        Innogr Learn
    </h3>
</div>


<div class="row">

    <div class="col-md-4 grid-margin stretch-card">
        <div class="card rounded mb-0">
            <div class="card-body p-3">
                <div class="media">
                    <div class="media-body">
                        <img src="/static/innogrApp/images/government/tractor.jpg" alt="image"
                            class="documentimage mr-3 mb-3 ">

                        <p
                           style="font-size: 18px; font-family: Montserrat;">
                            Innogr Classroom is an app that is customized to train students and farmers on best
                            Agricultural
                            practices, recent technologies in agriculture with emphasis on precision farming, all this
                            using
                            data science and analytics to achieve production of higher quality foods in a larger
                            quantity sustainably so that the
                            gobal target of increasing food production by 70 % will be met by 2050
                        </p>

                        <p
                           style="font-size: 18px; font-family: Montserrat;">
                            Users on Innogr Classroom are purely engaged in learning new skills offered by some of the
                            most
                            qualified tutors that aim at equiping students with skills to maximize analysis from
                            agricultural data such as
                        <ul>
                            <li>IoT skills</li>
                            <li>Soil management</li>
                            <li>Water management</li>
                            <li>Cropping system management</li>
                            <li>Fertilization</li>
                            <li>Planting or Sowing</li>
                            <li>Crop maintenance</li>
                            <li>pPotection management</li>
                            <li>Harvesting</li>
                            <li>Storage</li>
                        </ul>

                        Students on Innogr Classroom can also ask agricultural questions, have access to farm project
                        management techniques and many others
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-4 grid-margin stretch-card">
        <div class="card rounded mb-0">
            <div class="card-body p-3">
                <div class="media">
                    <div class="media-body">
                        <img src="/static/innogrApp/images/government/farmer.jpg" alt="image"
                            class="documentimage mr-3 mb-3 ">

                        <p
                           style="font-size: 18px; font-family: Montserrat;">
                            A platform that incorporates all agricultural business services according to your particular
                            sector
                            This include provision of the nearest store locations and all the different items sold with
                            prices and
                            contacts and also access to your closest and most accessible produce buyer and seller with
                            accurate
                            future price prediction
                        </p>

                        <p
                           style="font-size: 18px; font-family: Montserrat;">
                            The INNOGR platform has several application systems in which agrobusiness incorporates all
                            agricultural
                            business services according to your particular sector. In this service we provide two
                            different platforms
                            The produce management platform and store platform
                            <strong>The produce management</strong> platform is mainly for the produce sellers and buys.
                            It gives the access to the
                            closest and most accessible Agro product sellers and consumers like retailers, small scale
                            sellers and
                            processors providing accurate price predictions and others additionally services
                            The produce management provides price analysisseasonal production predictions news feed
                            trends in
                            agriculture chat room
                            <strong>Store platform </strong> allows shop and store owners dealing in agriculture to
                            create and online store
                            An online store contains all the items sold in your actual store with accurate prices which
                            is editor by the
                            shop keeper and make adds to advertise the products .this online stores are accessible by
                            anyone who
                            joins INNOGR
                            We don’t provide online money transactions but provide market to store owners
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-4 grid-margin stretch-card">
        <div class="card rounded mb-0">
            <div class="card-body p-3">
                <div class="media">
                    <div class="media-body">
                        <img src="/static/innogrApp/images/government/farmer.jpg" alt="image"
                            class="documentimage mr-3 mb-3 ">

                        <p
                           style="font-size: 18px; font-family: Montserrat;">
                            The Innogr farmers site gives services that cater for all the aspect of a farmer's life. making use of
                            unutilized agriculture, the platform will analyze and visual such data to enable farmers to use it for their own good.
                            It also has added advantages such as enabling farmers to get market, transport and suppliers of agricultural inputs and outputs,
                            information on the newest farming techniques, newsfeed, prices of agricultural produce, ongoing agricultural project procedures and best
                            of all a collaboration platform where farmers can get intouch with people from other departments of agriculture.
                        </p>

                        <p
                            style="font-size: 18px; font-family: Montserrat;">
                            The INNOGR platform has several application systems in which agrobusiness incorporates all
                            agricultural
                            business services according to your particular sector. In this service we provide two
                            different platforms
                            The produce management platform and store platform
                            <strong>The produce management</strong> platform is mainly for the produce sellers and buys.
                            It gives the access to the
                            closest and most accessible Agro product sellers and consumers like retailers, small scale
                            sellers and
                            processors providing accurate price predictions and others additionally services
                            The produce management provides price analysisseasonal production predictions news feed
                            trends in
                            agriculture chat room
                            <strong>Store platform </strong> allows shop and store owners dealing in agriculture to
                            create and online store
                            An online store contains all the items sold in your actual store with accurate prices which
                            is editor by the
                            shop keeper and make adds to advertise the products .this online stores are accessible by
                            anyone who
                            joins INNOGR
                            We don’t provide online money transactions but provide market to store owners
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock homebody %}