{% extends 'innogrApp/base.html' %}

{% load static %}

{% block pagebody %}

<h6 class="card-title" style="padding-top: 20px;">
    Resources
</h6>

<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Agro Stores</h4>
                <div class="wrapper d-flex align-items-center py-2 border-bottom">
                    <img class="img-sm rounded-circle" src="{% static 'innogrApp/images/government/store1.jpg' %}"
                        alt="profile">
                    <div class="wrapper ml-3">
                        <h6 class="mb-1">Nsava Feeds</h6>
                        <p>Animal Feed Store</p>
                        <small class="text-muted mb-0"><i class="fas fa-map-marker-alt mr-1"></i>Oyite
                            Ojok Lane, Lira</small>
                    </div>
                </div>
                <div class="wrapper d-flex align-items-center py-2 border-bottom">
                    <img class="img-sm rounded-circle" src="{% static 'innogrApp/images/government/store1.jpg' %}"
                        alt="profile">
                    <div class="wrapper ml-3">
                        <h6 class="mb-1">Jalson Farmer's House</h6>
                        <p>Agricultural Product Wholesaler</p>
                        <small class="text-muted mb-0"><i class="fas fa-map-marker-alt mr-1"></i>Olwol
                            Rd, Lira</small>
                    </div>
                </div>
                <div class="wrapper d-flex align-items-center py-2 border-bottom">
                    <img class="img-sm rounded-circle" src="{% static 'innogrApp/images/government/store1.jpg' %}"
                        alt="profile">
                    <div class="wrapper ml-3">
                        <h6 class="mb-1">Farmers Service (U) Limited</h6>
                        <p>Seed Supplier</p>
                        <small class="text-muted mb-0"><i class="fas fa-map-marker-alt mr-1"></i>Onyapoyere Village Plot
                            260</small>
                    </div>
                </div>
                <div class="wrapper d-flex align-items-center py-2 border-bottom">
                    <img class="img-sm rounded-circle" src="{% static 'innogrApp/images/government/store1.jpg' %}"
                        alt="profile">
                    <div class="wrapper ml-3">
                        <h6 class="mb-1">BonBra Agro Input</h6>
                        <p>Seed Supplier</p>
                        <small class="text-muted mb-0"><i class="fas fa-map-marker-alt mr-1"></i>Obote
                            Avenue, Lira</small>
                    </div>
                </div>
                <div class="wrapper d-flex align-items-center py-2 mb-4">
                    <img class="img-sm rounded-circle" src="{% static 'innogrApp/images/government/store1.jpg' %}"
                        alt="profile">
                    <div class="wrapper ml-3">
                        <h6 class="mb-1">Northern Chick</h6>
                        <p>Chicken Hatchery</p>
                        <small class="text-muted mb-0"><i class="fas fa-map-marker-alt mr-1"></i>Bala
                            Rd, Lira</small>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Contact List for Services</h4>
                <div class="preview-list">
                    <div class="preview-item border-bottom px-0">
                        <div class="preview-thumbnail">
                            <img src="{% static 'innogrApp/images/government/farmer2.jpg' %}" alt="image"
                                class="rounded-circle" />
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <h6 class="preview-subject">Jushua Omara
                                    <span class="float-right small">
                                        <span class="text-muted pr-3">Lira District</span>
                                    </span>

                                </h6>
                                <p> Animal Specialist
                                <p>
                            </div>
                        </div>
                    </div>
                    <div class="preview-item border-bottom px-0">
                        <div class="preview-thumbnail">
                            <img src="{% static 'innogrApp/images/faces/face8.jpg' %}" alt="image"
                                class="rounded-circle" />
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <h6 class="preview-subject">Brenda Aceng
                                    <span class="float-right small">
                                        <span class="text-muted pr-3">Gulu District</span>
                                    </span>
                                </h6>
                                <p>Food Crop Farmer</p>
                            </div>
                        </div>
                    </div>
                    <div class="preview-item border-bottom px-0">
                        <div class="preview-thumbnail">
                            <img src="{% static 'innogrApp/images/faces/face9.jpg' %}" alt="image"
                                class="rounded-circle" />
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <h6 class="preview-subject">Patrick Mboye
                                    <span class="float-right small">
                                        <span class="text-muted pr-3">Jinja District</span>
                                    </span>
                                </h6>
                                <p>Senior Agricultural Officer</p>
                            </div>
                        </div>
                    </div>
                    <div class="preview-item border-bottom px-0">
                        <div class="preview-thumbnail">
                            <img src="{% static 'innogrApp/images/government/farmer3.jpg' %}" alt="image"
                                class="rounded-circle" />
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <h6 class="preview-subject">Aleena Abraham
                                    <span class="float-right small">
                                        <span class="text-muted pr-3">Lira District</span>
                                    </span>
                                </h6>
                                <p>District Agricultural Officer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>

{% endblock pagebody %}