{% extends 'innogrApp/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block activelink %}
<li class="nav-item active nav-profile">
    {% endblock activelink %}

{% block pagebody %}


<div class="row">
    <div class="col-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create New Post</h4>
                <p class="card-description">
                    Fresh Post
                </p>
                <form class="forms-sample" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.media}}
                        {{form|crispy}}
                        
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Post</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 h-100">

    </div>
</div>

{% endblock pagebody %}