{% extends 'innogrApp/accountbase.html' %}

{% load static %}

{% block logout %}

<div class="content-wrapper d-flex align-items-center auth lock-full-bg">
  <div class="row w-100">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-transparent text-left p-5 text-center">
        <img src="{% static 'innogrApp/images/faces/face13.jpg' %}" class="lock-profile-img" alt="img">
        <form class="pt-5">
          <h5>Your Have been Logged out</h5>
          <div class="mt-5">
            <a class="btn btn-block btn-success btn-lg font-weight-medium" href="/login">Login</a>
          </div>
          <div class="mt-3 text-center">
            <a href="#" class="auth-link text-white">Sign in using a different account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock logout %}